@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

nav {
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 1;
}

nav .menu {
    max-width: 1250px;
    /* background: red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    /* background: red; */
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover{
    background: #fff;
    color: #000;
}

.img{
    background-image: url(layout-1.avif);
     background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img::before{
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.4);
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50% , -50%);
    /* background: red; */
    padding: 0 20px;
    text-align: center;
}

.center .tittle{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}

.center .sub-tittle{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.center .btns{
    margin-top: 20px;
}

.center .btns button{
    width: 170px;
    height: 55px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 0 10px;
    margin: 0 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.center .btns button:first-child{
    color: #fff;
    background: none;
}

.center .btns button:first-child:hover{
    background: #fff;
    color: #000;
}